[submodule "sylvorg.github.io"]
	path = sylvorg.github.io
	url = https://github.com/sylvorg/sylvorg.github.io
[submodule "oreo"]
	path = oreo
	url = git@github.com:syvlorg/oreo.git
[submodule "bakery"]
	path = bakery
	url = git@github.com:syvlorg/bakery.git
[submodule "rich"]
	path = rich
	url = git@github.com:syvlorg/rich.git
[submodule "tailapi"]
	path = tailapi
	url = git@github.com:syvlorg/tailapi.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:shadowrylander/nixpkgs.git
