[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/shadowrylander/.emacs.d.git
	shallow = true
[submodule "oreo"]
	path = oreo
	url = https://github.com/syvlorg/oreo.git
[submodule "bakery"]
	path = bakery
	url = https://github.com/syvlorg/bakery.git
[submodule "richyrich"]
	path = richyrich
	url = https://github.com/syvlorg/richyrich.git
